*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: blue;
}
.nav{
    margin-top: 25px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
.logos{
    margin-top: 5px;
    margin-left: 230px;
    color: antiquewhite;
    font-size: 20px;
    font-weight: 300;
}
.nav img{
    position: absolute;
    left: 100px;
    right: 1200px;
    top: 15px;
    width: 150px;
    height: 80px;
}
.logos span{
    font-family: cursive;
    font-family: 200;
}
.nav ul{
    display: flex;
    gap: 45px;
}
.nav li{
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
    font-family: poppins;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: aqua;
}
.btn{
    margin-right: 25px;
    height: 40px;
    width: 100px;
    margin-top: 17px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid white;
    border-radius: 2rem;
    font-family: poppins;
}
.btn:hover{
    background-color: blue;
    color: white;
}
.home{
    background-color: rgb(3, 3, 93);
    padding-bottom: 100px;
    color: white;
}
.home h2{
    padding-top: 65px;
    margin-left: 100px;
    font-size: 40px;
    color: white;
    font-weight: 400;
}
.home h2 span{
    font-size: 55px;
    font-family: Helvetica;
    color: aquamarine;
}
.home h5{
    font-size: 18px;
    margin-left: 100px;
    color: white;
    font-weight: 300;
}
.line{
    width: 600px;
    height: 1px;
    border: 1px solid white;
    margin-left: 80px;
    margin-top: 10px;
}
.home p{
    margin-left: 100px;
    margin-top: 20px;
    font-size: large;
    color: white;
}
.book{
    margin-left: 200px;
    margin-top: 40px;
    width: 200px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 0.5rem;
    color: white;
    border: 1px solid white;
}
.book:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    font-weight: 600;
}
.box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    margin-left: 100px;
}
h1 span{
    font-size: 10px;
}
.line2{
    height: 70px;
    width: 1px;
    border: 1px solid white;
    margin-left: 25px;
}
.box h3{
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
}
.box h3 span{
    font-size: 10px;
    margin-right: 20px;
}
.home img{
    position: absolute;
    top: 15%;
    width: 50%;
    height: 90%;
    left: 50%;
}
.about{
    color: rgb(3, 3, 93);
    background-color: aliceblue;
    padding-bottom: 50px;
}
.about h2{
    padding-top: 80px;
    margin-left: 600px;
    font-size: 40px;
    font-weight: 400;
}
.line3{
    width: 750px;
    height: 1px;
    border: 1px solid grey;
    margin-left: 300px;
    margin-top: 30px;
}
.about p{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 60px;
    font-size: 1.5rem;
}
.about h6{
    margin-top: 30px;
    margin-left: 530px;
    font-size: 40px;
    font-weight: 400;
}
.icon1 {
    display: flex;
    gap: 50px;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
}
.icon1 h5{
    font-weight: 400;
}
.icon2{
    display: flex;
    gap: 45px;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 30px;
}
.icon2 h5{
    font-weight: 400;
}
.icon3{
    display: flex;
    gap: 55px;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 30px;
}
.icon3 h5{
    font-weight: 400;
}
.icon4{
    display: flex;
    gap: 45px;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 30px;
}
.icon4 h5{
    font-weight: 400;
}
.ser{
    background-color: white;
    color: rgb(1, 1, 83);
    padding-bottom: 40px;
}
.ser h4{
    padding-top: 80px;
    margin-left: 550px;
    font-size: 40px;
    font-weight: 400;
}
.containerone{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 95px;
}
.container1{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container1:hover{
    border: 2px solid grey;
}
.container1 img{
    width: 100%;
    padding-top: 20px;
}
.btn1{
    margin-left: 70px;
    margin-top: 20px;
    height: 30px;
    width: 50%;
    background-color: orange;
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 2px 2px 10px grey;
}
.btn1:hover{
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 10px grey;
}
.container2{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container2 img{
    width: 100%;
    height: 200px;
    padding-top: 20px;
}
.container2:hover{
    border: 2px solid grey;
}
.container3{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container3 img{
    width: 100%;
    height: 200px;
    padding-top: 20px;
}
.container3:hover{
    border: 2px solid grey;
}
.containertwo{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 95px;
}
.container4{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container4 img{
    width: 100%;
    padding-top: 20px;
}
.container4:hover{
    border: 2px solid grey;
}
.container5{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container5 img{
    width: 100%;
}
.container5:hover{
    border: 2px solid grey;
}
.container6{
    padding: 50px;
    width: 30%;
    height: 450px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 1rem;
}
.container6 img{
    width: 100%;
    padding-top: 15px;
}
.container6:hover{
    border: 2px solid grey;
}
.containerone h3,
.containerone p{
    margin-top: 10px;
    color: black;
}
.containertwo h3,
.containertwo p{
    margin-top: 10px;
    color: black;
}
.contact{
    background-color: aliceblue;
    color: rgb(1, 1, 83);
    padding-bottom: 40px;
}
.contact h3{
    padding-top: 80px;
    margin-left: 550px;
    font-size: 40px;
    font-weight: 400;
}
.contact h6{
    margin-top: 30px;
    margin-left: 620px;
    font-size: large;
    font-weight: 500;
    color: black;
}
.box1{
    margin-top: 40px;
    display: flex;
    margin-left: 400px;
    gap: 20px;
}
.name{
    display: flex;
    gap: 20px;
}
input{
    outline: none;
    border: 1px solid grey;
    border-radius: 1rem;
    width: 200px;
}
input[type=text]:focus{
    border: none;
    box-shadow: 2px 2px 5px grey;
    border-radius: 1rem;
}
input::placeholder{
    padding: 20px;
}
.email{
    display: flex;
    gap: 20px;
}
input[type=email]:focus{
    border: none;
    box-shadow: 2px 2px 5px grey;
    border-radius: 1rem;
}
.submit{
    margin-left: 550px;
    margin-top: 30px;
    width: 20%;
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
}
.submit:hover{
    box-shadow: 2px 2px 10px grey;
}
.box2{
    display: flex;
}
.addressbox{
    margin-top: 70px;
    margin-left: 95px;
    font-size: 50px;
    width: 15%;
    height: 300px;
    border-radius: 0.5rem;
}
.addressbox i{
    color: black;
    margin-top: 20px;
    margin-left: 70px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px grey;
}
.addressbox p{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    font-weight: 500;
}
.phonebox{
    margin-top: 70px;
    margin-left: 100px;
    font-size: 50px;
    width: 15%;
    height: 300px;
    border-radius: 0.5rem;
}
.phonebox i{
    color: black;
    margin-top: 20px;
    margin-left: 70px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px grey;
}
.phonebox p{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    font-weight: 500;
}
.div1,
.div2{
    display: flex;
}
.div1 i,
.div2 i{
    font-size: 20px;
    margin-left: 20px;
    box-shadow: none;
}
.div1 p,
.div2 p{
    margin-top: 35px;
    margin-left: 6px;
}
.emailbox{
    margin-top: 70px;
    margin-left: 100px;
    font-size: 50px;
    width: 16%;
    height: 300px;
    border-radius: 0.5rem;
}
.emailbox i{
    color: black;
    margin-top: 20px;
    margin-left: 70px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px grey;
}
.emailbox h6{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 30px;
    color: black;
}
.emailbox p{
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-weight: 500;
}
.emailbox a:hover{
    color: black;
}
.workinghoursbox{
    margin-top: 70px;
    margin-left: 100px;
    font-size: 50px;
    width: 15%;
    height: 300px;
    border-radius: 0.5rem;
}
.workinghoursbox i{
    color: black;
    margin-top: 20px;
    margin-left: 70px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px grey;
}
.workinghoursbox p{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 30px;
    color: black;
    font-weight: 500;
}
.time,
.date{
    display: flex;
}
.time i,
.date i{
    font-size: 20px;
    margin-left: 20px;
    box-shadow: none;
}
.time p,
.date p{
    margin-top: 35px;
    margin-left: 6px;
}
.addressbox:hover,
.phonebox:hover,
.emailbox:hover,
.workinghoursbox:hover{
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey ;
}
.footer{
    background-color: rgb(39, 1, 61);
    color: white;
    padding-left: 40px;
    padding-top: 40px;
    gap: 50px;
    display: flex;
}
.one h1{
    font-family: cursive;
}
.one h6{
    font-size: 20px;
    font-weight: 500;
}
.one i{
    font-size: 50px;
    padding-top: 15px;
    padding-left: 30px;
}
.one i:hover{
    color: aqua;
}
.two,
.three,
.four,
.five{
    padding-top: 10px;
}
.two a{
    color: white;
}
.two a:hover{
    color: aqua;
}
.three a{
    display: flex;
    color: white;
}
.three a:hover{
    color: aqua;
}

.four a{
    display: flex;
    color: white;
}
.four a:hover{
    color: aqua;
}
.five a{
    color: white;
}
.five a:hover{
    color: aqua;
}
.anotherfooter{
    background-color:  rgb(39, 1, 61);
    padding-top: 10px;
}
.lines3{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    border: 1px solid white;
}
.anotherfooter p{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}